*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ff8fea, #a777ff);
}

.calculator-grid {
    display: grid;
    padding: 15px 32px;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 0.3px solid white;
    outline: none;
    border-radius: 10px;
    background-color: rgba(178, 255, 84, 0.75);
}

/* .calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .75);
    border-radius: 10px;
} */

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0.3px solid rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
}

.output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}